<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ITTAS_Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ITTAS_Installer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ITTAS_Installer.Properties.Settings>
            <setting name="FirstRunTime" serializeAs="String">
                <value>True</value>
            </setting>
        </ITTAS_Installer.Properties.Settings>
        <ITTAS_Installer.Settings1>
            <setting name="FirstRunTime" serializeAs="String">
                <value>False</value>
            </setting>
        </ITTAS_Installer.Settings1>
    </userSettings>
</configuration>